@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.textomenu{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

.container-principal{
    border-top: 0.4px solid #FFF2E7;
}

.principal1{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

.principal1-escrito{
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal1-escrito-titulo{
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px
}

.principal1-escrito-subtitulo{
    color: #ECD6C4;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
}

.principal1-escrito-botao{
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    Width: 185px;
    Height: 67px;
}

.principal1-imagem{
    height: 430px;
}

.principal2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.principal2-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.principal2-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape{
    border-top: 0.4px solid #FFF2E7;
    padding: 30px;
}

.rodape-imagem{
    display: block;
    margin: auto;
    height: 48px;
}