*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: rgba(10, 155, 240, 0.842);
    text-align: center;
    padding: 10px;
}
.title{
    color: white;
    text-align: center;
}
main{
    background-image: url('../images/people.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.containerform{
    margin: 10px;
    box-sizing: border-box;
    float: right;
    background-color: whitesmoke;
    max-width: 200px;
    padding: 15px;
}
select, input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
.containerform select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
input[type="submit"]{
    background-color: rgba(10, 155, 240, 0.842);
    color: white;
    padding: 10px;
}
.mb{
    margin-bottom: 10px;
}
.picture{
    width: 160px;
    
}
.textrp{
    color: white;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}
.textrp h3, .textrp p{
    margin-bottom: 25px;
}
.textrp h3{
    font-size: 26px;
}
footer{
    background-color: #2c1212;
    padding: 40px;
    text-align: center;
}